@mixin blinking($r, $g, $b, $alpha1, $alpha2){
	@keyframes blinking{
		0% { background: rgba($r, $g, $b, $alpha1); }
    	100% { background: rgba($r, $g, $b, $alpha2); }
    }

    -webkit-animation-name: blinking;
    -webkit-animation-direction: normal;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: ease;

    -moz-animation-name: blinking;
    -moz-animation-direction: normal;
    -moz-animation-duration: 1s;
    -moz-animation-iteration-count: 1;
    -moz-animation-timing-function: ease;

    -o-animation-name: blinking;
    -o-animation-direction: normal;
    -o-animation-duration: 1s;
    -o-animation-iteration-count: 1;
    -o-animation-timing-function: ease;

    animation-name: blinking;
    animation-direction: normal;
    animation-duration: 1s;
    animation-iteration-count: 1;
   	timing-function: ease;
 
}

 .blink1{
    @include blinking(0, 255, 0, 0.3, 1);
 }

 .blink2{
    @include blinking(255, 255, 0, 0.3, 1);
 }

 .blink3{
    @include blinking(255, 0, 0, 0.3, 1);
 }

 .blink4{
    @include blinking(255, 0, 0, 0.3, 1);
 }
