<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Simon game</title>
	
	<link rel="stylesheet" href="css/master.css">
	<script src="js/vue.js"></script>
	<script src="js/main.min.js"></script>
	
	 <!--[if IE]>
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
	<div id="container">
		<div id="board">
			<div id="colorButtons">
				<div v-bind:class="{ blink1: blink1 }" id="button1"></div>
				<div v-bind:class="{ blink2: blink2 }" id="button2"></div>
				<div v-bind:class="{ blink3: blink3 }" id="button3"></div>
				<div v-bind:class="{ blink4: blink4 }" id="button4"></div>
			</div>
			<div id="mainControls">
				<h1>Simon</h1>

				<div id="io">

					<div v-bind:class="{ displayOn: power }" id="display" title="display" >{{ count }}</div>

					<input type="button" class="inputs" id="start" title="start" v-on:click="startGame" :disabled="power == false">

					<div id="strict">
						<input type="checkbox" v-model="strictMode" disabled>
						<input type="button" class="inputs" id="strictMode" title="enable strict mode" v-on:click="toggleStrictMode" :disabled="power == false">
					</div>

				</div>


				<div id="labels">
					<label for="display">Count</label>
					<label for="start">Start</label>
					<label for="strictMode">Strict</label>
				</div>
				<div id="switchContainer">
					
					<label class="switch">
						<input type="checkbox"	id="checkbox" v-model="power">
						<div class="slider round"></div>
					</label>
					
				</div>

				<div id="power">
					<label for="slider" v-if="!power">off</label>
					<label for="slider" v-if="power"> on</label>
				</div>

			</div>
		</div>

		<div>
		{{message}}
		</div>
	</div>
	
	

	

</body>
</html>